*
{
margin: 0;
padding: 0;
}

a:hover
{
	color: white;
}

header 
{
	background: url(images/fond_1.png);
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 750px;
    padding-top: 1px;
}

#nav
{
    padding: 16px;
    color: white;
    padding-left: 1237px;
    font-family: ananda;
    font-size:18px;
}


#fond1
{
	background-color: #f6e0e0;
	width: 100%;
	background-attachment: fixed;
}

.titre1
{
	font-family: ananda;
	color : #854f6e;
	font-size:80px;
	text-align: center;
	z-index: 2;
	width: 200px;
	height: 150px; 
	top: 730px;
	padding-top:200px;
	padding-left:200px;
}

.cv
{
	
	float: right;
    margin: 15% 20% 0% 0%;
}

#texte1 p
{
	font-family: ananda;
	color : #9d8189;
	font-size:20px;
	text-align: center;
	top:930px;
	text-align: justify;
	padding: 110px;
	width: 50%;

	text-align: justify;
	padding-left:200px;
}

em
{
	color:#ec90c4;
}


#fond2
{
	background: url(images/fond_3.png) no-repeat center;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}

.titre2
{
	font-family: ananda;
	color : #854f6e;
	font-size:80px;
	text-align: right;
	z-index: 2; 
	float: right;
	padding:55px;
}

#texte2
{
	font-family: ananda;
	color : #9d8189;
	font-size:20px;
	text-align: justify;
	padding: 376px 206px 376px 206px;
}

#fond3
{
	background-color: #cfdff8;
	padding: 90px 0px;
	background-attachment: fixed;
}

.titre3
{
	font-family: ananda;
	color : #854f6e;
	font-size:80px;
	text-align: center;
	z-index: 2;
	width: 200px;
	height: 150px; 
	top: 150px;
	padding-left:200px;
}


#image_codage
{
	float: right;
    padding-bottom: 50px;
    padding-top: 84px;
    margin-left: 47px;
    margin-right: 23px;
}

#texte3 
{
	font-family: ananda;
	color : #9d8189;
	font-size:20px;
	text-align: center;
	text-align: justify;
	padding: 200px 206px 376px 206px;
	padding-left: 50px;
}

#texte3 ul
{
	font-family: ananda;
	color : #9d8189;
	font-size:20px;
	text-align: center;
	text-align: justify;
	padding: 50px;
	width: 50%;
	text-align: justify;
	padding-left:150px;
}

#fond4
{
	background: url(images/fond_5.png) no-repeat center;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}

.titre4
{
	font-family: ananda;
	color : #854f6e;
	font-size:80px;
	text-align: right;
	z-index: 2; 
	float: right;
	padding:55px;
	padding-right: 98px;
}

#css
{
	padding-top: 227px;
    margin-left: 55px;
}

#html
{
   	padding-top: 80px;
    margin-left: 223px;
}

#php
{
    margin-bottom: 95px;
    margin-left: 539px;
    margin-top: -267px;
}

#sql
{
    padding-top: 74px;
    padding-left: 939px;
    margin-top: -122px;
}

#sqllogo
{
	    margin-bottom: 35px;
}

h4
{
	color:#ec90c4;
}


#fond5
{
	background: url(images/fond_6.png) no-repeat center;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}

.titre5
{
	font-family: ananda;
	color : #854f6e;
	font-size:80px;
	text-align: right;
	z-index: 2; 
	padding:55px;
}


#bloc_formation
{
	margin: 76px 0 0px 0;
}
 
 #formation
 {
 	text-align: center;
 }

.photoform
{
	display: inline-block;
    width: 32%;
    padding-bottom: 168px;
}


.a_h_c
{
	font-family: ananda;
	color : #e8b2c1;
	font-size:50px;
	margin: -12%;
    margin-left: 2%;
	float: left;
	display: inline-block;
}

#about
{
	margin-left: 0px;
    margin-bottom: -85px;
}

#help
{
	margin-left: 218px;
    margin-top: 0px;
}

#community
{
	margin-left: 430px;
    margin-top: -77px;
}

.img_ifg 
{
	width: 45px;
	height: 45px;
}
#div_ifg
{
	
    padding-left: 84%;
    padding-top: 10%;
    padding-bottom: 8%;
}

*
{
	margin: 0px;
	padding: 0px;
}














