*
{
	margin: 0;
	padding: 0;
}

@font-face
 {
	font-family: "corsa";
	src: url('image/mtcorsa.ttf');
}

p
{
	display: block;
}
section
{
	position: relative;
}

h1
{
	
	color:white;
    font-size: 80px;
    text-align: center;
    padding-top: 152px;
}

h2
{
	color: #6f6969;
	font-size: 40px;
	margin:30px;	
}

h3
{
	color: #cfbcbc;
	text-align: center;
	font-size: 30px;
}

header
{
	background-image: url("image/fond.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding-bottom: 200px;

}

header nav
{
	display:inline-block;
	text-align: center;
	vertical-align: top;
	margin-left: 50px;
}

header nav ul
{
	list-style: none;
}

header nav ul li
{
	
	padding: 3px 5px;
	display: inline-block;
	margin-top: 30px;
}

header nav ul li a
{
	margin-right:  100px;
	color: #504c4c;
	font-size: 25px;
	font-family: sans;
	text-decoration: none;
	border-left: solid #504c4c;
	padding-left: 20px;
 }


footer
{
	background-image:linear-gradient(white, black);
	clear: both;
	padding: 50px;
	color: #FFF;
	text-align: center;
}

footer ul li
{
	display: inline-block;
	width: 33%;
	padding-top: 60px;
}


footer p
{
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 5%;
}


#article1
{
	position: absolute;
	left: 62%;
	top: 35%;
	width: 400px;
}

#article2
{
	position: absolute;
	left: -50%;
	margin-top: -107px;
	width: 400px;
}

#article3
{
	position: absolute;
	left: 75%;
	top: 72%;
	width:400px;
}

#section1, #section12
{
	padding: 150px 0px 40px;
}

#voirp, #voir3
{
	border: 2px #cfbcbc solid;
	padding: 10px 40px;
	text-decoration: none;
	color: black;
}

#voir2
{
	border: 2px #cfbcbc solid;
	padding: 10px 40px;
	text-decoration: none;
	color: black;
	clear: both;
	float: right;
}

.para2
{
	padding: 30px;
	float: right;
	margin-left:100px;
	background-image: url("image/fond-section.png");
	background-repeat: no-repeat; 
	font-family: "corsa", Helvetica, Arial, sans-serif;
	font-size: 17px;
	position: relative;
}

.para3
{
	clear: both;
	padding: 30px;
	float: left;	
	display: inline-block;
	background-image: url("image/fond-section.png");
	background-repeat: no-repeat;
	margin-bottom: 300px; 
	position: relative;
}

#hd
{	
	display:block;
	text-align: center;
	padding-left: 250px;
}

#hd3
{
	clear: both;
}

#logo2
{
	float: right;
	bottom: 100px;
}

#section3
{
    padding-left: 60px;
}

#corp1 
{
	background-image: url("image/fond-section.png");
	background-repeat: no-repeat; 
	padding: 20px;
	font-family: "corsa", Helvetica, Arial, sans-serif;
	font-size: 17px;
	margin-bottom: 70px;
	width: 50%;
	position: relative;
}

#corp2
{
display:inline-block;
position: relative;
}

#corp3
{
	display: inline-block;
	padding-right: 40px;
}

#fleche
{
	padding-left: 200px;	
	display: block;
}

#mail, #localisation
{
	padding-left:  50px;
}

@media screen and (max-width: 1220px)

{

}
