body
{
				
				
	
	width:100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#ea89a8,#fffbfb);
	font-size: 0.8em;
				

}


nav
{	
	
	
    padding:30px 100px 10px 100px;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

#nomprenon
{
	
	margin: 0;
	padding: 0;
	display: inline-block;
	font-family:'action_manbold';
	color:#9c2c50;
}			

#menu_horizontal
{  
	margin: 0;
	padding: 0;
	list-style-type : none;
	float : right;
}

#menu_horizontal li 
{
	padding : 0px 5px 0px 5px ;
	float : right;
	font-weight: bold;
}

h2
{
	color : #ae1212;
	text-align: center;
	
}		
h3 
{
	
	font-size:1.5em;
	text-decoration-line: underline;
}
h4
{
	font-size: 1.4em;
	color: #d21e5a;
}

a
{

	color: black;	
}		

a:hover
{
	text-shadow: 1px 1px black;
}



#section_competences
{
	padding: 50px 10px 50px 10px;
	
}

#div_activites
{
	text-align: center;
	margin: 40px;

}

#div_competences
{
	text-align: center;
	margin: 40px;

}

.div_pagecomp
{
	text-align: center;
	font-size: large;
	
	
	list-style-type : none;

}

.div_pagecomp p
{
	
}


#section_experience
{
	padding: 50px 10px 50px 10px;
	text-align: center;
}

.div_experience
{
	margin-top: 10px;

		text-align: center;

	display: inline-block;
}
.div_experience p
{
	font-size: 1.5em;
}	
.div_exp_2
{
	padding-bottom: 20px;
	width: 100%;
		

}


#icon_savoirplus1
{
	padding-top: 20px;
	margin-left: 30px;
	text-align: center;
}

#section_formation
{
	padding: 50px 10px 50px 10px;

}

.div_formation
{
	
}

.p_formation1
{
text-align: center;
	font-size: large;
	
	list-style-type : none;
}



#footer
{

	padding: 5px 10px 20px 10px;
    
	

}
#contact
{
	margin-left: 5px;
   
    font-style: italic;
	font-weight: bold;
	color: #ae1212;
	
}
.img_contact
{
	margin-left: 10px;
}

footer p
{
	display: inline;
}

@font-face {
    font-family: 'action_manbold';
    src: url('fontfamily/Action_Man_Bold-webfont.eot');
    src: url('fontfamily/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontfamily/Action_Man_Bold-webfont.woff2') format('woff2'),
         url('fontfamily/Action_Man_Bold-webfont.woff') format('woff'),
         url('fontfamily/Action_Man_Bold-webfont.ttf') format('truetype'),
         url('fontfamily/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (min-width:300px) and (max-width: 600px)
{ 
	body
	{			
		margin: 0;
		background-repeat: no-repeat;
		width:100%;
		background-image: linear-gradient(#ea89a8,#fffbfb);
		font-size: 0.9em;
		font-family:  Georgia, sans serif, Arial ;
	}

	
	nav
	{	
	    padding: 20px 20px 20px 20px;
	    
		font-style: italic;
		font-weight: bold;
	}

	#nomprenon
	{
		
		margin: 0;
		display: inline-block;
		font-family:'action_manbold';
		color:#9c2c50;
		padding-top: 10px;
		font-size: 1em;
	}			

	#menu_horizontal
	{  
		display: block;
		margin: 0;
		padding: 0;
		list-style-type : none;
		float : right;
		display: block;
		width:170px;
		font-size: 1em;
	

	}

	#menu_horizontal li 
	{
		float : right;
		
	}

	h1
	{
		color : #ae1212;
		text-align: center;
		font-family: Georgia;
		font-size: 1em;
		font-style: italic;
		padding: 0;
		margin: 0;
	}		


	a
	{
		color: black;
		text-decoration:none;
		font-size: 0.8em;
		font-family:Georgia;
			font-style: italic;

	}		

	a:hover
	{
		text-shadow: 1px 1px black;
	}


	#section_competences
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
	}
	#titre_comp
	{
		margin: 0;
	}
	#div_comp
	{
		text-align: center;
		margin: 25px 10px 20px 10px;
	}
	.liste_competences 
	{
			padding: 20px 10px 20px 10px;
			text-align: center;
			list-style-type : none;
			display: block;
			margin: 0;
	}
	.liste_competences li
	{
		padding: 5px 0 5px 0;
	}
	#web
	{
			font-size: 1.5em;

			margin: 0;
	}
	#mobile
	{
		font-size: 1.5em;

		margin: 0;
	}

	#div_pagecomp
	{
		text-align: left;
		width: 100%;
		margin-left: 300px;
	}
	.imgweb
	{
		width:100px;
		height: 75px;
	}

	.imgmobile
	{
		width:100px;
		height: 100px;
		padding-left: 40px;
	}

	.icon
	{
		width:150px;
		height: 100px;
	}
	#lien_sp
	{
		color: black;
		background-image: linear-gradient(#fffbfb,#ea89a8);
		border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
		padding: 5px 25px 10px 25px;
	    font-size: 1em;
	}
	#lien_sp:hover
	{
		

		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;


	}
	#fleche_haut
	{
		width: 50px;
		height: 50px;
	    position: fixed;
	    right: 10px;
	    bottom: 10px;
	    
	    opacity: 0.5;
	}
	#fleche_haut:hover
	{
		opacity: 1;
	}
	#section_experience
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
		
	}
	.div_experience
{
	margin-top: 10px;

		text-align: center;

	display: inline-block;
}
.div_experience p
{
	font-size: 1.5em;
}	
.div_exp_2
{
	padding-bottom: 20px;
	width: 100%;
		

}

	
	.liste_experiences
	{

			list-style-type : none;
			display: block;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;

	}
	.lien_sp1
	{
		color: black;
		font-style: Comic Sans MS;
		background-image: linear-gradient(#fffbfb,#ea89a8);
			border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
	    padding: 5px 25px 10px 25px;
	    font-size: 1em;

	}
	.lien_sp1:hover
	{
		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;
	}

	#section_formation
	{
		text-align: center;
		padding: 50px 25px 50px 25px;

	}
	#div_formation
	{
			margin:50px 10px 50px 10px;
			text-align: center;
	}
	.liste_formation
	{
			text-align: center;
			list-style-type : none;
			display: block;
			padding: 0;
			margin: auto;
			width: 300px;
			padding-bottom:40px;
	}
	#form_lic
	{
			padding: 0;

	}
	#form_mast
	{
		padding: 0;
	}
	#footer
	{
		padding: 20px 10px 20px 20px;
	}
	#contact
	{
	    font-style: italic;
		font-weight: bold;
		color: #ae1212;
		margin: 0;
	}
	.img_contact
	{
		display: block;
	}


	footer p
	{
		display: inline;
	}

	@font-face {
	    font-family: 'action_manbold';
	    src: url('fontfamily/Action_Man_Bold-webfont.eot');
	    src: url('fontfamily/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Bold-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Bold-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'action_manitalic';
	    src: url('fontfamily/Action_Man_Italic-webfont.eot');
	    src: url('fontfamily/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Italic-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Italic-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

}





