nav
{	
	
	background-color: green;
    padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}


#menu_horizontal
{  
	margin: 0;
	list-style-type : none;
	float : right;
}

#menu_horizontal li 
{
	padding : 0px 5px 0px 5px ;
	float : right;
	font-weight: bold;
}