body
{			
	margin: 0;
	
	width:100%;
	background-image: linear-gradient(#ea89a8,#fffbfb);
	font-size: 0.9em;
	font-family:  Georgia, sans serif, Arial ;
}

.sprite {
    background-image: url(image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-autre_comp {
    width: 398px;
    height: 329px;
    background-position: -5px -5px;
}

.sprite-fleche_haut {
    width: 56px;
    height: 57px;
    background-position: -513px -5px;
}

.sprite-icone-formation {
    width: 117px;
    height: 126px;
    background-position: -579px -5px;
}

.sprite-loading {
    width: 162px;
    height: 37px;
    background-position: -513px -141px;
}

.sprite-mail {
    width: 24px;
    height: 24px;
    background-position: -706px -5px;
}

.sprite-mobile {
    width: 279px;
    height: 314px;
    background-position: -5px -444px;
}

.sprite-mobile-experience_0 {
    width: 302px;
    height: 162px;
    background-position: -294px -444px;
}

.sprite-tel {
    width: 24px;
    height: 24px;
    background-position: -740px -5px;
}

.sprite-web1 {
    width: 498px;
    height: 429px;
    background-position: -774px -5px;
}

header 
{
	background-image: url("image/wdd2014.png");

	padding: 200px 50px 200px 50px;
	background-repeat: no-repeat;
	background-size: cover;

}		
#text1
{
	font-family: 'action_manitalic';
	color: #9c2c50;
	font-size: 8em;
    margin: 0;
}
		
#text2
{
	font-family: 'action_manitalic';
	color: #9c2c50;
	font-size: 8em;
	margin: 0;
	padding-top: 50px;
    text-align:  right;
  
}

nav
{	
	
	
    padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
}

#nomprenon
{
	
	margin: 0;
	display: inline-block;
	font-family:'action_manbold';
	color:#9c2c50;
}			

#menu_horizontal
{  
	margin: 0;
	list-style-type : none;
	float : right;
}

#menu_horizontal li 
{
	padding : 0px 5px 0px 5px ;
	float : right;
	font-weight: bold;
}

h1
{
	color : #ae1212;
	text-align: center;
	font-family: Georgia;
	font-size: 2em;
	font-style: italic;
	padding: 0;
	margin: 0;
}		


a
{
	color: black;
	text-decoration:none;
}		

a:hover
{
	text-shadow: 1px 1px black;
}


#section_competences
{
	text-align: center;
	padding: 100px 50px 100px 50px;
}
#titre_comp
{
	margin: 0;
}
#div_comp
{
	text-align: center;
}
.liste_competences 
{
		padding: 0;
		margin: 50px 80px 60px 50px;
		text-align: center;
		list-style-type : none;
		display: inline-block;
}
#web
{
		font-size: 1.5em;

		margin: 10px 20px 20px 0px;
}
#mobile
{
	font-size: 1.5em;

	margin: 10px 60px 20px 0px;
}

#div_pagecomp
{
	text-align: left;
	width: 100%;
	margin-left: 300px;
}
.imgweb
{
	width:300px;
	height: 250px;
}

.imgmobile
{
	width:200px;
	height: 200px;
}

.icon
{
	width:300px;
	height: 200px;
}
#lien_sp
{
	color: black;
	background-image: linear-gradient(#fffbfb,#ea89a8);
	padding: 10px 50px 20px 50px;
	border-radius: 20px;
	text-decoration:none;
	font-size: 2em;
	font-family: Comic Sans MS;
    text-align:  center;

}
#lien_sp:hover
{
	

	background: rgba(0,0,0,0);
	color: #9c2c50;
	box-shadow: inset 0 0 0 3px #9c2c50;


}
#fleche_haut
{
	width: 50px;
	height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    
    opacity: 0.5;
}
#fleche_haut:hover
{
	opacity: 1;
}
#section_experience
{
	text-align: center;
	padding: 100px 50px 100px 50px;
	
	background-color: white;
}

.div_experience
{
	text-align: center;
	margin:50px 10px 50px 10px;
}
.liste_experiences
{
		text-align: center;
		list-style-type : none;
		display: inline-block;
		margin: 0;
		padding-left: 50px;

}
.lien_sp1
{
	color: black;
	font-style: Comic Sans MS;
	background-image: linear-gradient(#fffbfb,#ea89a8);
	padding: 10px 50px 20px 50px;
	border-radius: 20px;
	text-decoration:none;
	font-size: 2em;
	font-family: Comic Sans MS;
    text-align:  center;

}
.lien_sp1:hover
{
	background: rgba(0,0,0,0);
	color: #9c2c50;
	box-shadow: inset 0 0 0 3px #9c2c50;
}

#section_formation
{
	text-align: center;
	padding: 100px 50px 100px 50px;

}
#div_formation
{
		margin:50px 10px 50px 10px;
		text-align: center;
}
.liste_formation
{
		text-align: center;
		list-style-type : none;
		display: inline-block;
		padding: 0;
		margin: 0;
		width: 300px;
		vertical-align: top;
}
#form_lic
{
		padding-top:20px;

}
#form_mast
{
	padding-top: 40px;
}

#footer
{
	padding: 20px 10px 20px 20px;
}
#contact
{
    font-style: italic;
	font-weight: bold;
	color: #ae1212;
	margin: 0;
}


footer p
{
	display: inline;
}

@font-face {
    font-family: 'action_manbold';
    src: url('fontfamily/Action_Man_Bold-webfont.eot');
    src: url('fontfamily/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontfamily/Action_Man_Bold-webfont.woff') format('woff'),
         url('fontfamily/Action_Man_Bold-webfont.ttf') format('truetype'),
         url('fontfamily/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'action_manitalic';
    src: url('fontfamily/Action_Man_Italic-webfont.eot');
    src: url('fontfamily/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontfamily/Action_Man_Italic-webfont.woff') format('woff'),
         url('fontfamily/Action_Man_Italic-webfont.ttf') format('truetype'),
         url('fontfamily/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media screen and (min-width:300px) and (max-width: 600px)
{ 
	body
	{			
		margin: 0;
		
		width:100%;
		background-image: linear-gradient(#ea89a8,#fffbfb);
		font-size: 0.9em;
		font-family:  Georgia, sans serif, Arial ;
	}

	header 
	{
		background-image: url("image/wdd2014.png");

		padding: 100px 10% 100px 10%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 55% 15%;

	}		
	#text1
	{
		font-family: 'action_manitalic';
		color: #9c2c50;
		font-size: 3em;
	    margin: 0;
	}
			
	#text2
	{
		font-family: 'action_manitalic';
		color: #9c2c50;
		font-size: 3em;
		margin: 0;
		padding-top: 50px;
	    text-align:  right;
	  
	}

	nav
	{	
	    padding: 10px 5px 30px 5px;
	    
		font-style: italic;
		font-weight: bold;
	}

	#nomprenon
	{
		
		margin: 0;
		display: inline-block;
		font-family:'action_manbold';
		color:#9c2c50;
		padding-top: 10px;
		font-size: 1em;
	}			

	#menu_horizontal
	{  
		display: block;
		margin: 0;
		padding: 0;
		list-style-type : none;
		float : right;
		display: block;
		width:170px;
		font-size: 0.8em;

	}

	#menu_horizontal li 
	{
		float : right;
		
	}

	h1
	{
		color : #ae1212;
		text-align: center;
		font-family: Georgia;
		font-size: 1em;
		font-style: italic;
		padding: 0;
		margin: 0;
	}		


	a
	{
		color: black;
		text-decoration:none;
		font-size: 0.8em;
		font-family:Georgia;
			font-style: italic;

	}		

	a:hover
	{
		text-shadow: 1px 1px black;
	}


	#section_competences
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
	}
	#titre_comp
	{
		margin: 0;
	}
	#div_comp
	{
		text-align: center;
		margin: 25px 10px 20px 10px;
	}
	.liste_competences 
	{
			padding: 20px 10px 20px 10px;
			text-align: center;
			list-style-type : none;
			display: block;
			margin: 0;
	}
	.liste_competences li
	{
		padding: 5px 0 5px 0;
	}
	#web
	{
			font-size: 1.5em;

			margin: 0;
	}
	#mobile
	{
		font-size: 1.5em;

		margin: 0;
	}

	#div_pagecomp
	{
		text-align: left;
		width: 100%;
		margin-left: 300px;
	}
	.imgweb
	{
		width:100px;
		height: 75px;
	}

	.imgmobile
	{
		width:100px;
		height: 100px;
		padding-left: 40px;
	}

	.icon
	{
		width:150px;
		height: 100px;
	}
	#lien_sp
	{
		color: black;
		background-image: linear-gradient(#fffbfb,#ea89a8);
		border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
		padding: 5px 25px 10px 25px;
	    font-size: 1em;
	}
	#lien_sp:hover
	{
		

		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;


	}
	#fleche_haut
	{
		width: 50px;
		height: 50px;
	    position: fixed;
	    right: 10px;
	    bottom: 10px;
	    
	    opacity: 0.5;
	}
	#fleche_haut:hover
	{
		opacity: 1;
	}
	#section_experience
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
		
		background-color: white;
	}

	.div_experience
	{
		margin: 25px 10px 20px 10px;
	}
	.liste_experiences
	{

			list-style-type : none;
			display: block;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;

	}
	#img_exp
	{
		width: 100%;
	}
	.lien_sp1
	{
		color: black;
		font-style: Comic Sans MS;
		background-image: linear-gradient(#fffbfb,#ea89a8);
			border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
	    padding: 5px 25px 10px 25px;
	    font-size: 1em;

	}
	.lien_sp1:hover
	{
		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;
	}

	#section_formation
	{
		text-align: center;
		padding: 50px 25px 50px 25px;

	}
	#div_formation
	{
			margin:50px 10px 50px 10px;
			text-align: center;
	}
	.liste_formation
	{
			text-align: center;
			list-style-type : none;
			display: block;
			padding: 0;
			margin: auto;
			width: 100%;
			padding-bottom:40px;
	}
	#form_lic
	{
			padding: 0;

	}
	#form_mast
	{
		padding: 0;
	}
	#footer
	{
		padding: 20px 10px 20px 20px;
	}
	#contact
	{
	    font-style: italic;
		font-weight: bold;
		color: #ae1212;
		margin: 0;
	}
	.img_contact
	{
		display: block;
	}


	footer p
	{
		display: inline;
	}

	@font-face {
	    font-family: 'action_manbold';
	    src: url('fontfamily/Action_Man_Bold-webfont.eot');
	    src: url('fontfamily/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Bold-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Bold-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'action_manitalic';
	    src: url('fontfamily/Action_Man_Italic-webfont.eot');
	    src: url('fontfamily/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Italic-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Italic-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

}


@media screen and (min-width:600px) and (max-width: 960px)
{
	body
	{			
		margin: 0;
		
		width:100%;
		background-image: linear-gradient(#ea89a8,#fffbfb);
		font-size: 0.9em;
		font-family:  Georgia, sans serif, Arial ;
	}

	header 
	{
		background-image: url("image/wdd2014.png");

		padding: 100px 10% 100px 10%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 55% 15%;

	}		
	#text1
	{
		font-family: 'action_manitalic';
		color: #9c2c50;
		font-size: 5em;
	    margin: 0;
	}
			
	#text2
	{
		font-family: 'action_manitalic';
		color: #9c2c50;
		font-size: 5em;
		margin: 0;
		padding-top: 50px;
	    text-align:  right;
	  
	}

	nav
	{	
	    padding: 10px 10px 30px 20px;
	    
		font-style: italic;
		font-weight: bold;
	}

	#nomprenon
	{
		
		margin: 0;
		display: inline-block;
		font-family:'action_manbold';
		color:#9c2c50;
		padding-top: 10px;
		font-size: 1em;
	}			

	#menu_horizontal
	{  
		display: block;
		margin: 0;
		padding: 0;
		list-style-type : none;
		float : right;
		display: block;
		width:170px;
		font-size: 0.8em;

	}

	#menu_horizontal li 
	{
		float : right;
		
	}

	h1
	{
		color : #ae1212;
		text-align: center;
		font-family: Georgia;
		font-size: 1em;
		font-style: italic;
		padding: 0;
		margin: 0;
	}		


	a
	{
		color: black;
		text-decoration:none;
		font-size: 0.8em;
		font-family:Georgia;
			font-style: italic;

	}		

	a:hover
	{
		text-shadow: 1px 1px black;
	}


	#section_competences
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
	}
	#titre_comp
	{
		margin: 0;
	}
	#div_comp
	{
		text-align: center;
		margin: 25px 10px 20px 10px;
	}
	.liste_competences 
	{
			padding: 20px 40px 20px 40px;
			text-align: center;
			list-style-type : none;
			display: inline-block;
			margin: 0;
	}
	.liste_competences li
	{
		padding: 5px 0 5px 0;
	}
	#web
	{
			font-size: 1.5em;

			margin: 0;
	}
	#mobile
	{
		font-size: 1.5em;

		margin: 0;
	}

	#div_pagecomp
	{
		text-align: left;
		width: 100%;
		margin-left: 300px;
	}
	.imgweb
	{
		width:100px;
		height: 75px;
	}

	.imgmobile
	{
		width:100px;
		height: 100px;
		padding-left: 40px;
	}

	.icon
	{
		width:150px;
		height: 100px;
	}
	#lien_sp
	{
		color: black;
		background-image: linear-gradient(#fffbfb,#ea89a8);
		border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
		padding: 5px 25px 10px 25px;
	    font-size: 1em;
	}
	#lien_sp:hover
	{
		

		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;


	}
	#fleche_haut
	{
		width: 50px;
		height: 50px;
	    position: fixed;
	    right: 10px;
	    bottom: 10px;
	    
	    opacity: 0.5;
	}
	#fleche_haut:hover
	{
		opacity: 1;
	}
	#section_experience
	{
		text-align: center;
		padding: 50px 25px 50px 25px;
		
		background-color: white;
	}

	.div_experience
	{
		margin: 25px 10px 20px 10px;
	}
	.liste_experiences
	{

			list-style-type : none;
			display: block;
			margin: 0;
			padding: 0;
			padding-bottom: 20px;

	}
	.lien_sp1
	{
		color: black;
		font-style: Comic Sans MS;
		background-image: linear-gradient(#fffbfb,#ea89a8);
			border-radius: 20px;
		text-decoration:none;
		font-family: Comic Sans MS;
	    text-align:  center;
	    padding: 5px 25px 10px 25px;
	    font-size: 1em;

	}
	.lien_sp1:hover
	{
		background: rgba(0,0,0,0);
		color: #9c2c50;
		box-shadow: inset 0 0 0 3px #9c2c50;
	}

	#section_formation
	{
		text-align: center;
		padding: 50px 25px 50px 25px;

	}
	#div_formation
	{
			margin:50px 10px 50px 10px;
			text-align: center;
	}
	.liste_formation
	{
			text-align: center;
			list-style-type : none;
			
			padding:0px 10px 40px 10px;
		
			width: 200px;
	}
	#form_lic
	{
			padding: 0;

	}
	#form_mast
	{
		padding: 0;
	}
	#footer
	{
		padding: 20px 10px 20px 20px;
	}
	#contact
	{
	    font-style: italic;
		font-weight: bold;
		color: #ae1212;
		margin: 0;
	}
	.img_contact
	{
		display: block;
	}


	footer p
	{
		display: inline;
	}

	@font-face {
	    font-family: 'action_manbold';
	    src: url('fontfamily/Action_Man_Bold-webfont.eot');
	    src: url('fontfamily/Action_Man_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Bold-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Bold-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Bold-webfont.svg#action_manbold') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'action_manitalic';
	    src: url('fontfamily/Action_Man_Italic-webfont.eot');
	    src: url('fontfamily/Action_Man_Italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fontfamily/Action_Man_Italic-webfont.woff') format('woff'),
	         url('fontfamily/Action_Man_Italic-webfont.ttf') format('truetype'),
	         url('fontfamily/Action_Man_Italic-webfont.svg#action_manitalic') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

}


<i class="sprite sprite-autre_comp"></i>
<i class="sprite sprite-fleche_haut"></i>
<i class="sprite sprite-icone-formation"></i>
<i class="sprite sprite-loading"></i>
<i class="sprite sprite-mail"></i>
<i class="sprite sprite-mobile"></i>
<i class="sprite sprite-mobile-experience_0"></i>
<i class="sprite sprite-tel"></i>
<i class="sprite sprite-web1"></i>
