
      /***********************Header****************************/
header
{
  background-image: url("image/background/bg_header.jpg");
  background-repeat: no-repeat;
	background-size: cover;

  display: block;
}
#header_div1
{
  padding: 5px 5px 5px 5px;
  display: inline-block;
  color: #ff0066;
  font-weight: bold;
  width: 100%;
  background-color: black;
}
#header_div1 p
{
  display: inline-block;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#img_tel
{
  padding-left: 15%;
  width: 15px;
  height:15px;
}
#p2
{
  float: right;
  padding-right: 15%;
}
#header_div2
{
 text-align: center;
 background-color: white;
 opacity: 0.8;
 padding: 10px 10px 10px 10px;
}
h1
{
    margin: 0;
    padding: 10px 10px 10px 10px;
    color: #ff0066;
    font-size: 3em;
    font-family:  serif;
  }

a
  {
    text-decoration: none;
    color: white;
  }
.lien_noir
{
  color: black;
}
#menu_horizontal
{
	margin: 0;
  padding: 20px 10px 30px 30%;
	list-style-type : none;
  color: black;
}

#menu_horizontal li
{
	padding : 0px 5px 0px 5px ;
	float : left;
	font-weight: bold;
}
#menu_siteonglets
{
  padding: 30px 20px 20px 10px;
  background-color: black;
  opacity: 0.8;
}
#menu_siteonglets li
{
  float : none;
  width: 100px;
  display: block;
}
#menu_siteonglets  a
  {
    text-decoration: none;
    color: white;
  }
#menu_tout
{
  margin-right: 20px;
  padding: 30px 20px 20px 0px;
  background-color: black;
  opacity: 0.8;
}
#menu_tout li
{
  float : none;

display: block;
}
#menu_tout  a
  {
    text-decoration: none;
    color: white;
  }
#header_div3
{
  text-align: center;
  padding: 100px 10px 150px 10px;
  display: block;
  font-size: 2em;

}
em
{
  color: #ff0066;
  font-family: 'Comic Sans MS', cursive;
}
#img_fleche
{
  width: 30px;
  height: 30px;

}
#header_fleche
{
    padding: 15px 15px 5px 15px;
  border: solid 2px #ff0066;
  border-radius: 50px;
  width: 50px;

}

.navbar_opac
{
  color: white;
  width: 100%;
  position: fixed;
  top: 5px;
  background-color: black;
  opacity: 0.8;

}

        /***********************section1****************************/

#section1
{
  padding:  20px 20px 20px 20px;
  text-align: center;
}

#section1_div
{
  width: 700px;
  padding: 0 0 0 23%;
  line-height: 2em;
}
#section1_p2
{
  font-size: 1.5em;
}
#section1_p3
{
  font-size: 1.5em;
  color: #ff0066;
  font-family:'Comic Sans Ms';
}

     /***********************section2****************************/

#section2
{
  padding: 50px 10px 20px 40px;
  background: rgb(240, 240, 240);
  text-align: center;
}

.section2_div
{
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;

}

.titre_section2
{
  color: #ff0066;
  font-family:'Comic Sans Ms';
}
.plus_info
{
  padding: 5px 10px 5px 10px;
  background-color: white;
  border: solid 1px black;
}
.plus_info_hover
{
  color: #ff0066
  border: solid 1px #ff0066;
}
#saviez_vous
{
  padding: 10px 10px 10px 10px;
  background-color: #ff0066;
  border: solid 1px white;
  border-radius: 10px;
  display: block;
  margin-left: 35%;
  color: white;
}
.hide
{
  display: none;
}
.show
{
  display: block;
}

#pop
{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  position:absolute;
  top: 10px;
  left: 0px;
  color: white;
}
#pop_tel
{
  font-size: 2em;
  width: 400px;
  height: 100px;
  margin: 20% 0 20% 35%;
  background-color: white;
  color: black;
  border-radius: 10px;
}
#pop_tel p
{
  padding:  20px 10px 20px 10px;
}
#croix
{
  position: absolute;
  right: 40px;
  top:10px;
  color: white;
  font-size: 2em;
}
.section2_div4
{
  padding: 50px 10px 50px 10px;
}

#img_barbara
{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: inline-block;
}
#div4_p
{
  width: 700px;
  display: inline-block;
  vertical-align: top;

}
#div4_p2
{
  float: right;
}

        /***********************section3****************************/
#section3
{
  padding:  50px 10px 10px 10px;
}
.div_images
{
    padding: 10px 30px 10px 200px;
}
.section3_img
{
  width: 300px;
}
.section3_div1
{
  padding: 50px 10px 10px 10px;
  text-align: center;
}
#img_Mobile-Solutions
{
  width: 300px;
  height: 300px;
  display: inline-block;
}
#section3_div2
{
  display: inline-block;
  width: 600px;
  vertical-align: top;

}
h2
{
  font-family: 'Comic Sans Ms'
}

#cliquez
{
  padding: 10px 10px 10px 10px;
  background-color: #ff0066;
  border: solid 1px white;
  border-radius: 10px;
  display: block;
  margin-left: 35%;
  color: white;
}

      /***********************section4****************************/

#section4
{
  background-image: url('image/overgang-wit-grijs-rechts.jpg');
  background-repeat: no-repeat;
  background-size: cover;
padding: 0 10px 50px 10px;
text-align: center;
}

.section4_div1
{
  padding:100px 10px 50px 10px;
}

#bouton_section4
{
  padding: 10px 10px 10px 10px;
  background-color: #ff0066;
  border: solid 1px white;
  border-radius: 10px;
  display: block;
  margin-left:40%;
  color: white;
}


/***********************FOOTER****************************/
footer
{
  color: white;
  background-color: black;
  padding: 10px 10px 10px 10px;
}

.footer_img
{
  display: inline-block;
  width:20px;
  height: 20px;
}
#footer_p1
{
  padding-left: 10%;
  display: inline-block;
  margin: 0
}
#footer_p2
{
  display: inline-block;
  float: right;
  padding-right: 50px;
  margin: 0
}
