    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    ul {
      margin: 0;
      /* padding: 1em; */
    }

    /* OPTIONAL THEMING */
    .mobile-toggleable-menu {
     list-style: none;
     text-align: center;
     background-color: #000;
     width: 100%;
     margin-top: -5px;
     background-color : rgba(0,0,0,0.5);
   }
   .mobmenu-toggle {
    background-color: #222;
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    height: 8%;
    line-height: 138%;
  }

  .mobile-toggleable-menu li a {

    text-decoration: none;

    display: block;
    padding: 1em;
    color: white;  
  }
  
  .mobile-toggleable-menu li a:hover {

    color: grey;
  }

  /* Sur les Ã©crans, quand la largeur de la fenÃªtre fait au maximum 1280px */
  .mobmenu-toggle {
    display: none;
  }
  .mobile-menu-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }


  @media all and (min-width: 0px) and (max-width: 764px)
  {


    .mobmenu-toggle,
    .mobile-menu-toggle-button,
    .mobile-toggleable-menu {
      top: 0;
      position: fixed;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
    .mobmenu-toggle {
      left: 0;
      margin: 0;
      display: inline-block;
      width: 15%;
      z-index: 999;
    }
    .mobmenu-toggle:hover {
      cursor: pointer;
    }
    .mobile-toggleable-menu {
      margin: 0;
      width: 85%;
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      z-index: 998;
      overflow: hidden;
    }
    .mobile-toggleable-menu.mobile-left {
      left: -105%;
    }
    .mobile-toggleable-menu.mobile-right {
      right: -105%;
    }
    .mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-right {
      left: auto;
      right: auto;
    }
    .mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-left {
     left: 50%;
     right: 50%;
   }
   .mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-left {
     width: 85% !important;
     left: 0;
     padding: 19px 0 47px 0px;
     max-width: 50%;
   }
   .mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-right {
    width: 85% !important;
    right: 0;
    padding: 19px 0 47px 0px;
    max-width: 50%;
  }


  footer {
    color: white;
  }

  footer a {

    color: white;
   text-decoration:none; 
   text-align: left;
 }

 footer a:link {
  color: white;
  text-align: left;
  text-decoration:none; 

}
footer > p {
  font-family: 'Calibri';
  text-align: left;
  
  text-transform: uppercase;
}

footer ul,li {
  font-family: 'Calibri';
  text-align: left;
  color: white;
  display: block;
  text-decoration: none;

  text-transform: uppercase;
}
footer {
  font-family: 'Calibri';
  text-decoration: none;

  display: block;
  text-align: left;
  color: white; 
}



}


/* changement avec 871px après c'est 871 a + */
@media all and (min-width: 0px) and (max-width: 871px)
{

  .diplome {


    width: 70px;
    display: block;

    position: relative;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);


  }
  .couleur {
    font-family: 'Calibri';
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  .couleur1 {
    font-family: 'Calibri';
    text-align: center;
    text-transform: uppercase;
    color
  }
  .annee {
   font-family: 'Calibri';
   text-transform: uppercase;
   text-align: center;
   color: white;
   font-size: 1.3em;

 }

 .annee1 {
   font-family: 'Calibri';
   text-transform: uppercase;
   text-align: center;
   color: black;
   font-size: 1.3em;
 }
 .colonnes2 > div {
  font-family: 'Calibri';
  text-transform: uppercase;
  /* display: table-cell; */
  width: 100%;
  padding: 0px 10% 0px 10%;
  text-align: justify;
}
.presentation {


  text-align: justify;
  font-family: 'Calibri';
  text-transform: uppercase;
  color: black; 
  font-weight: normal;
  font-size: 1em;
  max-width: 100%;
}


h3 {
  font-family: 'Calibri';
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 1.3em;

}


.image {  
 float: none;
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 150px;
 box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.7);
 border: solid 1px white;
 border-radius: 50% 50%;


}



}




/* changement avec 871px après c'est 871 a + */
@media all and (min-width: 0px) and (max-width: 1324px)
{



  .colonnes4 ul {
    color: black;
    display: block;
    max-width: inherit;
    margin: 3% 5% 3% 10%; 
    width: inherit;
  }

  .colonnes4 li {
    list-style: none; /* pour enlever les puces sur IE7 */
    margin: 0% 0% 5% 0%;

  }

  .colonnes4 span {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Calibri';
    width: 100%;
    color: white; 
    font-size: 1.3em;
    /* padding: 1px 1px 2px 1px; */
  }



  

  .barre2 {
    width: 50%; 
    background-color: white;

    padding: 1px 0px 0px 0px;
    margin-bottom: 3%;


  }





}



/* Les carrés du haut s'enlève en dessous de 960 px */
@media all and (min-width: 0px) and (max-width: 960px) 
{




  .barre2 {
    width: 50%; 
    background-color: white;

    padding: 1px 0px 0px 0px;
    margin-bottom: 3%;


  }


  #present {
    display: none;
    color: inherit;
    width: 50%;
    height: auto;
  }

  #compet {
   display: none;
   width: 50%; 
   height: auto;
 }

 #exp {
  display: none;
  width: 25%; 
  height: auto;
}

#forma {
  display: none;
  width: 25%; 
  height: auto;
}

}
