* {

  margin:0;

  padding:0;
}
html, body {height:100%;margin:0;} 

@font-face {
  font-family: "Calibri";
  src: url('calibri.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Calibri', Arial;
  background: url(http://templated.co/items/demos/epilogue/images/banner.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃƒÂ©e */
  background-attachment: fixed;
  width:100%; 
  max-width: 100%;
  margin:0 auto;
}

h2 {

  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 1.3em;

  margin: 3% 0% 1% 0%;
  padding: 0 0 15px 0;
}

h3 {

  text-transform: uppercase;
  text-align: justify;
  color: black;
  font-weight: normal;
  font-size: 1.3em;

}

#present {

  color: inherit;
  width: 50%;
  height: auto;
}

#compet {

  width: 50%; 
  height: auto;
}

#exp {
  width: 25%; 
  height: auto;
}

#forma {
  width: 25%; 
  height: auto;
}

.barre {
  width: 750px; 
  margin: auto;
  background-color: white;
  margin-bottom: 3%;
  padding: 1px;
}

.barre3 {
  width: 120px; 
  margin: auto;
  background-color: black;
  margin-bottom: 3%;
  padding: 1px;
  margin: 10px auto 20px auto ;
}

.barre4 {
  width: 120px; 
  margin: auto;
  background-color: white;
  margin-bottom: 3%;
  padding: 1px;
}





nav li a:hover {


  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em;
}

nav li {

  text-transform: uppercase;
  display: inline-block;
  padding: 1em; 
  
  color: white;
}


.conteneur_images1 {
  display: block;
  width:100%;
}
.conteneur_images1 img {
  display: block;
  width: 50%;
  height: auto;


}

nav {


  display: inline-block;
  width: 100%;

}
.conteneur_images1 > img {
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃƒÂ©e */
  display: inline-block;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);

}


.conteneur_images1 > img:hover {

  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃƒÂ©e */


  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0),
}





.conteneur_images1 > a { 
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);

}


.conteneur_images1 > a:hover {

 filter: grayscale(0);
 -webkit-filter: grayscale(0);
 -moz-filter: grayscale(0);
 -o-filter: grayscale(0);
 -ms-filter: grayscale(0),
}



.PosLeft { 
  float: left;
}
.PosRight { 
  float: right; 
}

/* Blocs couleurs diffÃƒÂ©rents */

.bloc {

  color: black;

  /* width: 100%; */

  padding: 65px 0px 65px 0px;

  background-color: white;
}
.bloc:nth-child(4n+2) {

  margin: 10px 10px 0px 0px ;
  width: 100%;
  padding: 65px 0px 65px 0px;

  background-color: #cdcdcd;
} 

/* image presentation */

.image {

  height: 200px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.7); 
  border: solid 3px white;
  border-radius: 50% 50%;
  float: left;
  margin: 3% 5% 3% 20%;
  

}


.presentation {

  text-align: justify;

  text-transform: uppercase;
  color: black;
  padding: 6% 10% 10% 10%;
  font-weight: normal;
  font-size: 1em;
  max-width: 80%;

}




.colonnes4 ul {
  color: black;
  display: inline-block;
  text-align: center;
  list-style: none;  
  max-width: 15%;

  margin-left: auto;
  margin-right:  auto;
  margin: 0% 5% 3% 10%;
  width: 100%;
}

.colonnes4 li {
  display: inline-block;
  text-align: left;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 0% 5% 50% 0%;
  width: 100%;
}

.colonnes4 span {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;

  width: 100%;
  /* color: white; */
  font-size: 1.3em;
  /* padding: 1px 1px 2px 1px; */
}

hr {
  width: 50%;
  margin: auto;
  background-color: white;
  margin-top: -1%;

  margin-bottom: 3%;
}



.barre2 {
  width: 50%; 
  background-color: white;

  padding: 1px 0px 0px 0px;
  margin-bottom: 3%;

  
}


/*Colonnes 3 */

 
.colonnes2 {
  display: table;
  width: 100%;
  text-align: justify;

}
.colonnes2 > div {

  text-transform: uppercase;
  display: inline-block;
  width: 50%; 
  float: left;
  padding: 0 0 0 10%;
  text-align: justify;
  padding: 0px 0px 0px 10%;
}

.colonnes2 > figure {

  text-transform: uppercase;
  display: inline-block;
  width: 50%; /
  padding: 0 0 0 10%;
  text-align: justify;
  padding: 0px 0px 0px 10%;
}

.colonnes > div > p {

  text-transform: uppercase;
  text-align: left;
  margin: 0px 0px 40px 100px ;

  color: white;
  max-width: 170px;
}






.img {
  height: auto;
  width: 300px;
  padding: 0px 0px 10px 0px;
  display: inline-block;
}

.logo {

  height: auto;
  width: 50px;
  padding: 0px 10px 10px 0px;
  display: inline-block;
}

.colonnes1 > p {

 font-family: 'Calibri';
 
 font-size: 1.3em;
}

.diplome {
  margin: 1px auto;
  display: block;
  width: 70px;
}
.annee {
 font-family: 'Calibri';
 text-align: center;
 text-transform: uppercase;
 color: white;
 font-size: 1.3em;
 
}


.annee1 {
 font-family: 'Calibri';
 text-align: center;
 text-transform: uppercase;
 color: black;
 font-size: 1.3em;
 
}
.couleur {

  text-align: center;
  text-transform: uppercase;
  color: white;
}

.couleur1 {

  text-align: center;
  text-transform: uppercase;
  color: black;
}



footer {
 text-align: center;
 color: white;

 text-decoration: none;

 text-transform: uppercase;
 margin: 35px 0 0 0px; 
}

footer li  {
  display: inline-block;

  color: white; 
  padding: 1em;
  
}

footer ul { 

  color: white; 
  margin: 30px 0 35px 0px;
}

footer a { 
  text-decoration: none;

  color: white; 
}

footer a:hover { 
  text-decoration: none;
  
  color: grey; 
}


/* Progress bar */
