#container { text-align: center; margin: 20px; }
h2 { color: #CCC; }
a { text-decoration: none; color: #EC5C93; }

.bar-main-container {
 
  width: 80%;
  
  -webkit-border-radius: 4px;
 
  border-radius: 40px;
 
  font-size: 0.8em;
  color: #FFF;
  display: inline-block;
  padding: 0 43px 0px 0px;
}
 
.bar-percentage {
 float: left;
  text-align: center;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 23px;
  padding: 9px 0px;
  width: 18%;
  height: auto;
}

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  
  overflow: hidden;
}

.bar { 
  background: rgba(0,0,0,0.13);
    float: right;
  margin: auto;
 
}

/* COLORS */
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }