@media screen and (min-width: 961px)
{
  *{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
  }

  header {
    /* Dégradé du background */
    background: linear-gradient(#65eddf, #51B5AD);
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  nav {
    position: relative;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  nav a:hover {
    text-shadow: 2px 2px 0px black;
  }

  nav ul li {
    display: inline;
    padding: 2%;
  }

  footer {
    /* Dégradé du background */
    background: linear-gradient(#51B5AD, #65eddf);
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
    }

  footer a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  #apropos {
    margin: 0px 15% 0px 15%;
    padding: 50px 0px 100px 0px;
  }

  #competences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #formations {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #experiences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #interets {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #contact {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #competences, #experiences, footer {
    background-color: #51B5AD;
    color: white;
  }

  #competences h3, #experiences h3, footer h3 {
    color: white;
  }

  h1 {
    font-family: 'proxima_nova_scosfthin', Georgia, sans-serif;
    color: white;
    text-decoration: none;
    /* Effet d'ombre sur le texte */
    text-shadow: 1px 1px 1px black;
    font-size: 5em;
  }

  h2 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: white;
    padding: 70px 0px 70px 0px;
    text-shadow:0px 0px 7px #FFFFFF;
    font-size: 2em;
  }

  h3 {
    color: #9b9999;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 0px 0px 30px 0px;
  }

  h4 {
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  h5 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
  }

  ul {
      list-style: none;
  }

  .a_propos{
    margin: 15px 0px 0px 0px;
  }

  .ul_competence {
    display: inline-block;
    margin: 80px 2% 0px 2%;
  }

  .ul_formation {
    margin: 20px 0px 20px 0px;
  }
  .ul_formation li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }

  .ul_experience {
    margin: 20px 0px 20px 0px;
  }
  .ul_experience li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }

  .ul_interet {
    width: 15%;
    display: inline-block;
    margin: 50px;
  }

  .ul_contact {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0px 10% 0px 10%;
  }

  #arrow_up {
    position: fixed;
    bottom: 1%;
    left: 95%;
    opacity: 0.2;
  }

  #arrow_up:hover{
   opacity: 0.7;
  }


  .sprite {
    background-image: url(image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  }

  .sprite-arrow_up {
      width: 50px;
      height: 50px;
      background-position: -5px -5px;
  }

  .sprite-avatar_place_holder {
      width: 125px;
      height: 125px;
      background-position: -65px -5px;
      float: left;
      margin: 0px 20px 0px 0px;
      border-radius: 100px;
  }

  .sprite-logo_cinema {
      width: 92px;
      height: 74px;
      background-position: -200px -5px;
      margin: auto;
  }

  .sprite-logo_css3 {
      width: 120px;
      height: 75px;
      background-position: -200px -89px;
      margin: auto;
  }

  .sprite-logo_cuisine {
      width: 88px;
      height: 74px;
      background-position: -5px -174px;
      margin: auto;
  }

  .sprite-logo_experience {
      width: 75px;
      height: 75px;
      background-position: -103px -174px;
      margin: auto;
  }

  .sprite-logo_formation {
      width: 75px;
      height: 75px;
      background-position: -188px -174px;
      margin: auto;
  }

  .sprite-logo_gimp {
      width: 120px;
      height: 75px;
      background-position: -5px -259px;
      margin: auto;
  }

  .sprite-logo_html5 {
      width: 120px;
      height: 75px;
      background-position: -135px -259px;
      margin: auto;
  }

  .sprite-logo_mail {
      width: 75px;
      height: 75px;
      background-position: -273px -174px;
      margin: auto;
  }

  .sprite-logo_map {
      width: 75px;
      height: 75px;
      background-position: -265px -259px;
      margin: auto;
  }

  .sprite-logo_mysql {
      width: 120px;
      height: 75px;
      background-position: -330px -5px;
      margin: auto;
  }

  .sprite-logo_phone {
      width: 75px;
      height: 75px;
      background-position: -358px -90px;
      margin: auto;
  }

  .sprite-logo_php {
      width: 120px;
      height: 75px;
      background-position: -358px -175px;
      margin: auto;
  }

  .sprite-logo_rando {
      width: 75px;
      height: 75px;
      background-position: -350px -260px;
      margin: auto;
  }

  .nav_scroll {
  background-color: #51B5AD;
  position: fixed;
  top: 0%;
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  opacity: 0.5;
  box-shadow: 0px 5px 20px black;
  }

  .nav_scroll:hover {
    opacity: 1;
  }

  .progress-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: white;
    opacity: 1;
    border-bottom: 2px solid #51B5AD;
    z-index: 1
  }

  #myBar {
    width: 0%;
    float: left;
    background-color: #51B5AD;
    height: 100%;
  }


}


@media screen and (min-width: 500px) and (max-width: 960px)
{
  *{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
  }

  header {
    /* Dégradé du background */
    background: linear-gradient(#65eddf, #51B5AD);
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  nav
  {
    margin: 0px 5% 0px 5%;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  nav a:hover {
    text-shadow: 1px 1px 0px black;
  }

  nav ul li {
    display: inline;
    padding: 2%;
  }

  footer {
    /* Dégradé du background */
    background: linear-gradient(#51B5AD, #65eddf);
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
    }

  footer a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  #apropos {
    margin: 0px 15% 0px 15%;
    padding: 50px 0px 100px 0px;
  }

  #competences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #formations {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #experiences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #interets {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #contact {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #competences, #experiences, footer {
    background-color: #51B5AD;
    color: white;
  }

  #competences h3, #experiences h3, footer h3 {
    color: white;
  }

  h1 {
    font-family: 'proxima_nova_scosfthin', Georgia, sans-serif;
    color: white;
    text-decoration: none;
    /* Effet d'ombre sur le texte */
    text-shadow: 1px 1px 1px black;
    font-size: 5em;
  }

  h2 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: white;
    padding: 70px 0px 70px 0px;
    text-shadow:0px 0px 7px #FFFFFF;
    font-size: 2em;
  }

  h3 {
    color: #9b9999;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 0px 0px 30px 0px;
  }

  h4 {
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  h5 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
  }

  ul {
      list-style: none;
  }

  .a_propos{
    margin: 15px 0px 0px 0px;
  }

  .ul_competence {
    display: inline-block;
    margin: 80px 2% 0px 2%;
  }

  .ul_formation {
    margin: 20px 0px 20px 0px;
  }
  .ul_formation li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }

  .ul_experience {
    margin: 20px 0px 20px 0px;
  }
  .ul_experience li {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
  }

  .ul_interet {
    display: inline-block;
    margin: 50px;
  }


  .ul_contact {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0px 10% 0px 10%;
  }

  #arrow_up {
    position: fixed;
    bottom: 0%;
    left: 93%;
    opacity: 0.2;
  }

  #arrow_up:hover{
   opacity: 0.7;
  }


  .sprite {
    background-image: url(image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  }

  .sprite-arrow_up {
      width: 50px;
      height: 50px;
      background-position: -5px -5px;
  }

  .sprite-avatar_place_holder {
      width: 125px;
      height: 125px;
      background-position: -65px -5px;
      float: left;
      margin: 0px 20px 0px 0px;
      border-radius: 100px;
  }

  .sprite-logo_cinema {
      width: 92px;
      height: 74px;
      background-position: -200px -5px;
      margin: auto;
  }

  .sprite-logo_css3 {
      width: 120px;
      height: 75px;
      background-position: -200px -89px;
      margin: auto;
  }

  .sprite-logo_cuisine {
      width: 88px;
      height: 74px;
      background-position: -5px -174px;
      margin: auto;
  }

  .sprite-logo_experience {
      width: 75px;
      height: 75px;
      background-position: -103px -174px;
      margin: auto;
  }

  .sprite-logo_formation {
      width: 75px;
      height: 75px;
      background-position: -188px -174px;
      margin: auto;
  }

  .sprite-logo_gimp {
      width: 120px;
      height: 75px;
      background-position: -5px -259px;
      margin: auto;
  }

  .sprite-logo_html5 {
      width: 120px;
      height: 75px;
      background-position: -135px -259px;
      margin: auto;
  }

  .sprite-logo_mail {
      width: 75px;
      height: 75px;
      background-position: -273px -174px;
      margin: auto;
  }

  .sprite-logo_map {
      width: 75px;
      height: 75px;
      background-position: -265px -259px;
      margin: auto;
  }

  .sprite-logo_mysql {
      width: 120px;
      height: 75px;
      background-position: -330px -5px;
      margin: auto;
  }

  .sprite-logo_phone {
      width: 75px;
      height: 75px;
      background-position: -358px -90px;
      margin: auto;
  }

  .sprite-logo_php {
      width: 120px;
      height: 75px;
      background-position: -358px -175px;
      margin: auto;
  }

  .sprite-logo_rando {
      width: 75px;
      height: 75px;
      background-position: -350px -260px;
      margin: auto;
  }
}

@media screen and (min-width: 280px) and (max-width: 500px)
{
  *{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
  }

  header {

    background: linear-gradient(#65eddf, #51B5AD);
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  nav
  {
    margin: 0px 5% 0px 5%;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  nav a:hover {
    text-shadow: 1px 1px 0px black;
  }

  nav ul li {
    display: inline;
    padding: 0px 25% 0px 25%;
  }

  footer {

    background: linear-gradient(#51B5AD, #65eddf);
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
    }

  footer a {
    color: white;
    text-decoration: none;
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  #apropos {
    margin: 0px 20px 0px 20px;
    padding: 50px 0px 100px 0px;
  }

  #apropos img {
    float: left;
    margin-right: 20px;
  }

  #competences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #formations {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #experiences {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #interets {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #contact {
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  #competences, #experiences, footer {
    background-color: #51B5AD;
    color: white;
  }

  #competences h3, #experiences h3, footer h3 {
    color: white;
  }

  h1 {
    font-family: 'proxima_nova_scosfthin', Georgia, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 4em;
  }

  h2 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: white;
    padding: 70px 0px 70px 0px;
    text-shadow:0px 0px 7px #FFFFFF;
    font-size: 2em;
  }

  h3 {
    color: #9b9999;
    font-family: 'proxima_nova_altblack', Georgia, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 0px 0px 30px 0px;
  }

  h4 {
    font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  }

  h5 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
  }

  ul {
      list-style: none;
  }

  .a_propos{
    margin: 15px 0px 0px 0px;
  }

  .ul_competence {
    display: inline-block;
    margin: 80px 50px 0px 50px;
  }

  .ul_formation {
    margin: 20px 0px 50px 0px;
  }
  .ul_formation li {
    padding: 5px 0px 5px 0px;
  }

  .ul_experience {
    margin: 20px 0px 70px 0px;
  }
  .ul_experience li {
    padding: 5px 0px 5px 0px;
  }

  .ul_interet {
    margin: 20px 20px 70px 20px;
  }


  .ul_contact {
    margin: 20px 25% 50px 25%;
  }

  #arrow_up {
    position: fixed;
    bottom: 0%;
    left: 85%;
    opacity: 0.2;
  }

  #arrow_up:hover{
   opacity: 0.7;
  }

  .sprite {
    background-image: url(image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  }

  .sprite-arrow_up {
      width: 50px;
      height: 50px;
      background-position: -5px -5px;
  }

  .sprite-avatar_place_holder {
      width: 125px;
      height: 125px;
      background-position: -65px -5px;
      float: left;
      margin: 0px 20px 0px 0px;
      border-radius: 100px;
  }

  .sprite-logo_cinema {
      width: 92px;
      height: 74px;
      background-position: -200px -5px;
      margin: auto;
  }

  .sprite-logo_css3 {
      width: 120px;
      height: 75px;
      background-position: -200px -89px;
      margin: auto;
  }

  .sprite-logo_cuisine {
      width: 88px;
      height: 74px;
      background-position: -5px -174px;
      margin: auto;
  }

  .sprite-logo_experience {
      width: 75px;
      height: 75px;
      background-position: -103px -174px;
      margin: auto;
  }

  .sprite-logo_formation {
      width: 75px;
      height: 75px;
      background-position: -188px -174px;
      margin: auto;
  }

  .sprite-logo_gimp {
      width: 120px;
      height: 75px;
      background-position: -5px -259px;
      margin: auto;
  }

  .sprite-logo_html5 {
      width: 120px;
      height: 75px;
      background-position: -135px -259px;
      margin: auto;
  }

  .sprite-logo_mail {
      width: 75px;
      height: 75px;
      background-position: -273px -174px;
      margin: auto;
  }

  .sprite-logo_map {
      width: 75px;
      height: 75px;
      background-position: -265px -259px;
      margin: auto;
  }

  .sprite-logo_mysql {
      width: 120px;
      height: 75px;
      background-position: -330px -5px;
      margin: auto;
  }

  .sprite-logo_phone {
      width: 75px;
      height: 75px;
      background-position: -358px -90px;
      margin: auto;
  }

  .sprite-logo_php {
      width: 120px;
      height: 75px;
      background-position: -358px -175px;
      margin: auto;
  }

  .sprite-logo_rando {
      width: 75px;
      height: 75px;
      background-position: -350px -260px;
      margin: auto;
  }
}
