html, body{
	margin: 0; /*Retire les marge interne et externe de la page complete*/
	padding: 0;
}


/*Utile tout pour les evenemtn js */
.hide{
	display: none;
}

.show{
	display: block;
}


/*debut de la navbar*/

nav{
	min-width: 100%;
	max-height: 150px;
	background: #cb2026;
	opacity: 0.8;
	position: fixed;
	top:0;
	z-index: 10;
}

nav ul{
	float: right;
	list-style-type: none;
	padding-left: 0;
	margin-right: 20px;
}

nav ul li{
	margin-left: 20px;
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}


.button{ /*gestion des buttons*/
	color: #FFF;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 10px;
	border: solid #FFF 3px;
	width: justify !important;
	display: inline-block !important; /*Permet d'avoir unequement la taille du texte et non de tout l'ecran*/
}

.button:hover{
	background: #cb2026;
	border-color: red;
}

.btn-red{
	background: #cb2026;
	border-color: red;
}

.btn-black{
	background-color: #000;
}

/* Header */

header{
	position: relative;
	padding: 0;
	margin: 0;
	position: relative;
	height: 949px; /* Taille de l'image (hauteur)*/
	color : #FFF;
	text-align: center;
}

header:before{ /*permet d'appliquer le filtre uniquement sur le background*/
	content: '';
	background: url('img/background/mid-bg.jpg') no-repeat;
	-webkit-filter: blur(2px) grayscale(60%); 
	filter: blur(2px) grayscale(60%);
	background-size: cover;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;    
	z-index: -1;
}

header h3{
	margin: 0;
	padding-top: 10%;
	color:  #cb2026;
	font-size:1.5em;
}

header h1{
	font-size: 3em;
}

em{
	font-style : normal;
	color: #cb2026;
}

.header-bottom{
	padding-top: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #000;
	height: 20%;
	opacity: 0.7;
}

.header-bottom div{
	display: inline-block;
	width: 25%;
	min-height: 500px;
	text-align: left;
}

.header-bottom img{
	float: left;
}

.header-bottom p{
	padding-left: 55px; /*Permet d'aligner a droite de l'image*/
}


/*propre au toute les section */

section{
	margin: 150px;
}


/*section 1*/

#section1 h2{
	font-size: 2em;
	font-weight: bolder;
	display: inline-block;
}

#section1 .btn-red{
	float: right;
}

.container{
	float: bottom;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.element{
	text-align:center;
	/*border: solid black 1px;*/
	-webkit-box-shadow: 9px 6px 13px 0px rgba(230,243,247,1);
	-moz-box-shadow: 9px 6px 13px 0px rgba(230,243,247,1);
	box-shadow: 9px 6px 13px 0px rgba(230,243,247,1);
	margin-right: 10px;
}

.element img{
	margin: 20px;
	transition: opacity 1s;
}

.element img:hover{
	opacity: 0.5;
}

.element p{
	display: block;
	padding: 40px;
	color: #a8a8a8;
}

.element h5{
	font-weight: bolder;
	font-size: 1.5em;
}

/*section 2*/

#section2{
	position: relative;
	height: 949px;
	margin: 0;
	margin-top: -100px;
	text-align: center;
}

#section2:before{ /*permet d'appliquer le filtre uniquement sur le background*/
	content: '';
	background: url('img/background/mid-bg.jpg') no-repeat;
	-webkit-filter: blur(2px) grayscale(60%); 
	filter: blur(2px) grayscale(60%);
	background-size: cover;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;    
	z-index: -1;
}

#section2 h2{
	color: #FFF;
	padding-top: 25%;
	display: block;
	font-size: 3em
}

#section2 h2 strong{
	color: #cb2026;
}

#section2 p {
	display: block;
	color: #fff;
}

/*section 3*/

#section3 h2{
	font-size: 2em;
	font-weight: bolder;
	display: inline-block;
}

#section3 .btn-black{
	float: right;
}

#section3 img{
	background: #cb2026;
	padding: 20px;
}

#section3 .flex-box{
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.flex-box p{
	font-weight: bolder;
	font-size: 0.8em;
	display: block;
	margin: auto;
	max-width: 60%;
}

/*section 4*/

#section4{
	height: 880px;
	background-image: url('img/background/test-bg.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
}

#section4 .box{
	width: 100%;
	position: absolute;
	bottom: 0;
}

#arrayToTop{
	font-size: 2em;
	background: black;
	opacity: 0.8;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: solid black 2px;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	right: 5px;
}

.box-in{
	width: 900px;
	height: 200px;
	margin: 0 auto;
	background: white;
	text-align: center;
}

.box-in p{
	max-width: 50%;
	margin: 0 auto;
	padding-top: 20px;
	color: #a8a8a8;
}

.box-in h4{
	color: #cb2026;;
}

footer{
	height: 100px;
	background: #2a2a2a;
	text-align:center;
	color: #FFF;
	line-height: 100px;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    text-align:center; 
}	

#modal-p{
	text-align:center;
	background: #fff;
	padding: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*animation sur les image de la section 1*/

.fade-in{
    opacity:0;
    -moz-animation: anim 3s linear forwards 2s;
    -webkit-animation: anim 3s linear forwards 2s;
    -o-animation: anim 3s linear forwards 2s;
    -ms-animation: anim 3s linear forwards 2s;
    animation: anim 3s linear forwards 2s;
}
@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}