body{
	margin: 0;
	padding: 0;
}
header h3{
	text-align:center;
	color: #cb2026;
	margin-top: 0;
	padding-top: 2%;
}
header h1{
	text-align:center;
	color:white;
	font-size: 3em;
}
header{
	height: 80vh;
	width: 100%;
	position: relative;
	background: url('img/background/mid-bg.jpg') no-repeat;
	background-size: cover;
}
.header-content{
	position: relative;
	text-align: center;
	z-index: 1;
}
.button{ 
	color: #FFF;
	font-weight: bolder;
	padding: 10px;
	border: solid #FFF 3px;
	width: justify;
	display: inline-block; /*Permet d'avoir unequement la taille du texte et non de tout l'ecran*/
}
.button:hover{
	background: #cb2026;
	border-color: red;
}
.opacity{
	background: #000;
	opacity: 0.7;
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
header .header-footer{
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
}
header .header-footer .box{
	height: 100%;
	width: 25%;
	color: #FFF;
}
header .header-footer .box p strong{
	margin-bottom: 10px;
}
header .header-footer .box img{
	float: left;
	height: 100%;
	padding: 10px;
}
section{
	height: 100vh;
}