#section1{
	margin: 100px;
	max-height: 100vh;
}
.section-header h2{
	display: inline-block;
}
.section-header .button{
	display: inline-block;
	float: right;
}
.btn-red{
	background: #cb2026;
	border-color: red;
}
#section1 .container{
	padding-top: 20px;
	position: absolute;
	margin-right: 100px;
	display: flex;
	justify-content: space-between;
}
.element{
	width: 30%;
	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,255,.2);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,255,.2);
	box-shadow: 3px 3px 6px 0px rgba(0,0,255,.2);
}
.element img{
	max-width: 100%;
}
.element .text{
	width: 90%;
	margin: auto;
}
.text h5{
	font-size: 1.5em;
}
.text p{
	font-size: 1.1em;
	color: grey;
}