@media screen and (min-width: 500px)
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Georgia, sans-serif;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  a:hover {
    color: #FF0066;
  }

  header {
    text-align: center;
    background-image: url('img/background/bg_header.jpg');
  }

  header em {
    color: #FF0066;
  }

  nav {
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 10px;
  }

  nav ul li {
    display: inline;
    padding: 20px;
  }

  nav ul li:hover {
    color: #FF0066;
  }

  nav img {
    width: 10px;
  }

  nav strong, nav h1 {
    font-weight: bold;
    color: #FF0066;
  }

  footer {
    background: black;
    padding: 10px 150px 10px 150px;
    color: white;

  }

  footer span {
    float: right;
    font-size: 0.8em;
  }

  footer img {
    width: 16px;
  }

  h1 {
    font-size: 2em;
    padding: 20px;
    color: #FF0066;
  }

  h2 {
    margin: 30px;
  }

  h3 {
    margin: 30px;
  }

  h4 {

  }

  h5 {
    margin: 20px;
    font-size: 1em;
  }

  h6 {
    font-size: 2em;
    padding: 20px;
    color: #FF0066;
  }



  #top_contact {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FF0066;
  }

  #ico_phone {
    float: left;
    padding: 5px 0px 0px 150px;

  }

  #ico_phone img {
    width: 10px;
  }

  #page_title {
    float: right;
    padding: 5px 150px 0px 0px;

  }

  #presentation {
    font-size: 2em;
    margin: 50px 0 50px 0;
  }

  #arrow_down {
    border: 3px solid #FF0066;
    border-radius: 25px;
    padding: 5px;
  }

  #div_nav {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px 0 50px 0;
  }

  #section1 {
    text-align: center;
  }

  #section1 em {
    font-size: 2em;
    color: #FF0066;
  }

  #section1 p {
    margin: 20px;
  }

  #section2 {
    background-color: rgb(240, 240, 240);
    text-align: center;
  }
  #int {
    display: flex;
    justify-content: center;
  }

  #btn-saviez-vous {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
  }

  #btn-saviez-vous:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #barbara {
    width: 10%;
    border-radius: 50px;
    float: left;
  }

  #saviez-vous {
    padding: 50px;
  }

  #citation {
    float: right;
  }

  #citation span {
    font-weight: bold;
  }

  #logo {
    display: inline;
  }

  #section3 {
    text-align: center;
    padding: 50px;
  }

  #section3 ul img {
    width: 250px;
  }

  #section3 strong {
    font-size: 2em;
    color: #FF0066;
  }

  #mobile {
    float: left;
  }

  #download {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  #download:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #discover {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
  }

  #discover:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #section4 {
    background-image: url('img/icones/overgang-wit-grijs-rechts.jpg');
    padding: 30px;
    text-align: center;
  }

  #arrow-to-top{
    position: fixed;
    bottom: 10%;
    right: 0%;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
  }

  #modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
  }

  #modal_content {
    background-color: white;
    padding: 150px;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
  }

  #close {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 35%;
    left: 25%;
    z-index: 1;
  }

  #close:hover {
    color: red;
    cursor: pointer;
  }

  #onglet {
    position: relative;
  }

  #onglet li {
    margin-right: 100px;
  }

  #tout {
    position: relative;
  }

  .container {
    padding: 0 150px;
  }

  .presentation {
    padding: 150px;
  }

  .interet {
    background-color: white;
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .interet li {
    margin: 10px;
  }


  .interet button {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    text-transform: uppercase;
  }

  .logo-logiciel {
    display: inline-block;
    width: 33%;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .nav_scrolling {
    position: fixed;
    top: 30px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: bold;
  }

  .nav_scrolling a:visited{
    color: white;
  }

  .nav_scrolling a:hover{
    color: #FF0066;
  }

  .drop-onglet-content {
    position: absolute;
    border-top: 5px solid #FF0066;
    background-color: #171515;
    left: 20px;
    top: 49px;
    width: 180px;
  }

  .drop-onglet-content a, .drop-tout-content a {
    color: white;
  }

  .drop-onglet-content a:hover, .drop-tout-content a:hover {
    color: #FF0066;
  }

  .drop-tout-content {
    position: absolute;
    width: 220px;
    border-top: 5px solid #FF0066;
    background-color: #171515;
    left: 20px;
    top: 49px;
  }

  .drop-tout-content:focus {
    color: #ff0066;
  }
}

@media screen and (min-width: 320px) and (max-width: 499px) /* Responsive design for mobile */
{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Georgia, sans-serif;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  a:hover {
    color: #FF0066;
  }

  header {
    text-align: center;
    background-image: url('img/background/bg_header.jpg');
  }

  header em {
    color: #FF0066;
  }

  nav {
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    list-style: none;
  }



  nav ul li:hover {
    display: inline;
    padding: 2%;
    color: #FF0066;
  }

  nav img {
    width: 10px;
  }

  nav strong, nav h1 {
    font-weight: bold;
    color: #FF0066;
  }

  footer {
    background: black;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 0.9em;
    text-align: center;
  }

  footer img {
    width: 16px;
  }

  h1 {
    font-size: 2em;
    padding: 20px;
    color: #FF0066;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    margin: 30px;
  }

  h4 {

  }

  h5 {
    margin: 20px;
    font-size: 1em;
  }

  h6 {
    font-size: 2em;
    padding: 20px;
    color: #FF0066;
  }

  #top_contact {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
    color: #FF0066;
    text-align: center;
  }

  #ico_phone {

  }

  #ico_phone img {
    width: 10px;
  }

  #page_title {
    padding: 35px;
  }

  #presentation {
    font-size: 2em;
    margin: 50px 0 50px 0;
  }

  #arrow_down {
    border: 3px solid #FF0066;
    border-radius: 25px;
    padding: 5px;
  }

  #div_nav {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px 0 50px 0;
  }

  #section1 {
    text-align: center;
  }

  #section1 em {
    font-size: 2em;
    color: #FF0066;
  }

  #section1 p {
    margin: 20px;
  }

  #section2 {
    background-color: rgb(240, 240, 240);
    text-align: center;
  }

  #btn-saviez-vous {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
  }

  #btn-saviez-vous:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #barbara {
    width: 100px;
    border-radius: 50px;
    margin: 20px;
  }

  #saviez-vous {
    padding: 50px;
  }

  #citation {
    float: right;
  }

  #citation span {
    font-weight: bold;
  }

  #logo {
    display: inline;
  }

  #section3 {
    text-align: center;
    padding: 50px;
  }

  #section3 ul img {
    width: 250px;
  }

  #section3 strong {
    font-size: 2em;
    color: #FF0066;
  }

  #mobile {
    float: left;
    width: 250px;
  }

  #download {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  #download:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #discover {
    background-color: #FF0066;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
  }

  #discover:hover {
    background-color: white;
    color: #ff0066;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ff0066;
  }

  #section4 {
    background-image: url('img/icones/overgang-wit-grijs-rechts.jpg');
    padding: 30px;
    text-align: center;
  }

  #arrow-to-top{
    position: fixed;
    bottom: 10%;
    right: 0%;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
  }

  #modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height : 100%;
  }

  #modal_content {
    background-color: white;
    padding: 20px;
    width: 50%;

    margin: 150px auto;
  }

  #close {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 25%;
  }

  #close:hover {
    color: red;
    cursor: pointer;
  }



  #onglet li {
    margin-right: 100px;
  }

  .presentation {
    padding: 15px;
  }

  .interet {
    background-color: white;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .interet li {
    margin: 10px;
  }


  .interet button {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    text-transform: uppercase;
  }

  .logo-logiciel {
    display: inline-block;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .nav_scrolling {
    position: fixed;
    top: 38px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: bold;
  }

  .nav_scrolling a:visited{
    color: white;
  }

  .nav_scrolling a:hover{
    color: #FF0066;
  }

  .drop-onglet-content {
    position: absolute;
    width: 200px;
    padding: 20px;
    border-top: 5px solid #FF0066;
    background-color: #171515;
    left: 400px;
  }

  .drop-onglet-content a, .drop-tout-content a {
    color: white;
  }

  .drop-onglet-content a:hover, .drop-tout-content a:hover {
    color: #FF0066;
  }

  .drop-tout-content {
    position: absolute;
    width: 200px;
    padding: 20px;
    border-top: 5px solid #FF0066;
    background-color: #171515;
    left: 770px;
  }
}
