
@font-face  {
    font-family: "Rounded_Elegance";
    src: url(Rounded_Elegance.ttf);
}


*
{
    font-family: "Rounded_Elegance";
    margin: 0;
    padding: 0; 
}


#header
{
    background: url(photoprincipale.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 780px;
}



#navigation
{
    float: right;
    padding: 20px 0px 0px 0px;
    font-size: 1.5em;
    color:white;
    

}

li > a {
    text-decoration: none;
    color:white;

}

li
{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
}


.logo
{
    margin-left: 2%; 
    margin-top: 10px;

}

.titre
{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
    background-color: #9e8661;
    height: auto;
    color:#edf2f4;


}


#competence
{

    background-color: #d6c9a5;
    padding: 50px 0px 50px 0;
    text-align: center;

}

.image_competence
{

    color: white;
    display: inline-block;
    width: 33%;
    margin: 0px 0 50px 0;
}





#experience
{

    background-image: url(photomillieu.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cadre_experience
{

    text-align: center;
    padding: 150px 0 150px 0;

}

.texte_experience
{
    color: white;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 1.5em;
    margin: 20px 30px 90px 20px;
    
    
}



#cadre_formation
{

    background-color: #cbcbcb;
    padding-bottom: 90px;
}

#cadre_logo_formation
{
  margin: 70px 0 70px 0;
  text-align: center;

}

.logo_formation
{
    display: inline-block;
    width: 30%;

}

#texte_maformation
{
    text-align: center;
    font-size: 1.5em;
}


#cadre_contact
{
    background-color: #9e8661;
    text-align: center;


}

.contact
{
    color: white;
    display: inline-block;
    width: 45%;
    font-size: 1.5em;
    margin: 20px 30px 90px 20px;
}


.phrase_contact
{
   margin: 55px 0 0px 0px; 
}



@media all and (max-width: 1024px)
{

   #header
   {
    background-size:cover;
    padding-bottom: 500px;

}

#cadre_experience
{

    padding: 0px 0px 135px 0px;
}


.texte_experience
{

    margin: 110px 30px 0px 30px;
    
}

.contact
{

    width: 44%;
}



}

@media all and (max-width: 911px)
{
#navigation
{
   
    font-size: 1.2em;
    
    

}
.titre
{
   
    padding: 15px 0px 15px 0px;
    font-size: 1.4em;
    
   


}


}

@media all and (max-width: 900px)
{
    li {
    display: none;


}




}








@media all and (max-width: 768px)
{

   #header
   {

    padding-bottom: 500px;

}

.logo
{
    display: none;
}



#navigation
{

    font-size: 1.1em;
    float: none;
    text-align: center;



}

.titre
{
   
    padding: 13px 0px 13px 0px;
    font-size: 1.3em;

}



#competence
{

    background-color: #d6c9a5;
    padding: 50px 0px 50px 0;
    text-align: center;

}
img 
{
    width: 80%
}


.image_competence
{

 color: white;
 display: inline-block;
 width: 32%;
 margin: 0px 30px 50px 30px;
}


#cadre_experience
{
    padding: 50px 0px 50px 0;
}


.texte_experience
{

 margin: 42px 35px 42px 35px;
 width: 22%;
 font-size: 1.2em;
}
.contact 
{
    width: 35%;
    font-size: 1.3em;
    
}
}



@media all and (max-width: 650px){

   #header
   {
    background-size:cover;
    padding-bottom: 390px;

}

#navigation {
    float:none;
    padding: 20px 0px 0px 0px;
    font-size: 1em;
}

.titre
{
   
    padding: 8px 0px 8px 0px;
    font-size: 1.1em;

}


.image_competence
{

  width: 40%;
}
img 
{
    width: 70%
}


#cadre_experience

{
    padding: 25px 0px 25px 0px;
}


.texte_experience
{

  width: 35%;
  font-size: 1.2em;

}

.contact 
{
    width: 35%;
    font-size: 1.2em;
    
}


}


@media all and (max-width: 425px)
{

  #header 
  {
   padding-bottom: 220px;
}

#navigation
{

    font-size: 0.90em;
    text-align: center;
}

.titre
{
   
    padding: 5px 0px 5px 0px;
    font-size: 1em;

}


#competence
{

}

.image_competence
{

  width: 35%;
}
img 
{
    width: 75%
}
#experience
{
        background-position: -240px;
}
#cadre_experience

{
    padding: 25px 0px 25px 0px;
}


.texte_experience
{
    font-size: 1em;
    width: 47%;
    margin: 29px 0px 29px 0px;
}

#cadre_logo_formation {
    margin: 50px 0 50px 0;
    text-align: center;
}

#texte_maformation {
    font-size: 1.1em;
}

.contact {
    width: 35%;
    font-size: 1.2em;
    
}


@media all and (max-width: 375px)

{


img {
    width: 90%;
}

.image_competence {
    width: 33%;

}



/* @media all and (max-width: 768px)
{

   #header 
   {
       background-size: cover;
       padding-bottom: 500px;
   }



   #navigation 
   {
    float:none;
}
#cadre_experience
{
    padding: 10px 0px 10px 0;
}


.texte_experience
{
   margin: 15px 50px 15px 50px;
   padding: 10px 0px 10px 0px;
   width: 35%;
}


}











}