*{
	margin: 0;
	padding: 0;
}
button{
	box-sizing:  content-box;
	background-color: black;
	color: white;
	padding: 0.5%;
	border: 2px solid black;
	display: block;
	width: 10%;
	height: 5%;
}
button:hover {
	background-color: red;
}
footer{
	background-color: black;
	color: white;
	padding: 1%;
}
ul{
	list-style: none;
}
.footDiv{
	display: inline;
	margin: 1%;
	padding-left: 15%;
}
section{
	position: relative;

}
h1{
	color: grey;
	padding: 1%;
	padding-left: 40%;
}
.nav{
	background-color: white;
	margin-left: 27%;
}
.nav li{
	display: inline-block;
	padding: 1%;
}
.dispNone{
	display: none;
}
.visiVi{
	visibility: visible;
	opacity: 0;
}
#coffeBack{
	position: relative;
}
#imgText{
	position: absolute;
	left: 50%;
	top: 40%;
}
#coffe{
	width: 100%;
}
#bW{
}
#des{
}
#imgHello{
 width: 20%;
 margin-top: 2%;
 margin-left: 35%;
}
#selfie{
	position: absolute;
	right: 10.1%;
	width: 21.6%;
}
#eDivSec2{
	display: inline-block;
}
#eDivSec2 p{
	margin-left: 3%;
	width: 70%;
}
#buttSec2Let{
	margin-bottom: 4%;
}
#dia1{
	position: absolute;
	left: 11%;
	width: 5%;
}
#goTop{
	position: absolute;
	top: 90%;
	right: 0;
	border: none;
	border-radius: 2px;
	width: 1%;
	height: 1%;
	background-color: grey;
	color: white;
	transform: rotate(90deg);
}
#sec2{
	margin-bottom: 5%;
}
.divSec2{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	box-sizing: content-box; 
	background-color: #fef7f8;
	border: 1px solid #e1be69;
}
.divSec2 h3{
	margin-bottom: 2%;
	padding-left: 40%;
}
.divSec2 p{
	margin-bottom: 2%;
}
.divSec2 button{
	margin-left: 44%;
}
.listSec1 li{
	display: inline-block;
	padding-left: 11.5%;
	padding-right: 11.5%;
}
.divImgSec1{
	display: inline-block;
	margin: 3%;
	padding: 0;
	width: 27%;
}
#buttListSec1 li{
	margin-top: 2%;
	margin-right: 1%;
}
.buttSec1{
	padding: 5%;
	width: 100%;
}
.imgSec1{
	width: 100%;
}
#Sec1{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 3%;
}
#divSec1 p{
	margin-bottom: 2%;
}
#buttSec1See{
	margin-left: 44%;
}
.fixNav{
	z-index: 50;
	opacity: 0.8;
	position: fixed;
	background-color: white;;
	display: inline;
	width: 100%;
	margin: 0;
}
.linkTo{
	text-decoration: none;
}
#eServices{
	position: fixed;
	z-index: 50;
	background-color: white;
	margin-top: 0.7%;
	border-top: solid 2px pink;
	padding: 2%;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.divImgSec1:hover {
	transition-duration: 2s;
	transform: rotate(360deg);
}
#popup
{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.8)
    
}

#closepopup
{
    color: white;
    float: right;
    padding: 20px;
}

#imgbig
{
    padding: 5% 30%;
    width: 40%;
}

.pop {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        visibility: hidden;
    }
    .popNumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        padding: 3%;
        width: 15%;
    }
    .closePop {
        position: absolute;
        top: 1%;
        right: 3%;
    }
    .showPop {
        visibility: visible;
    }

.visiHide{
	visibility: hidden;
}
.fadeIn{
	transition: visibility opacity;
	opacity: 1;
	transition-duration: 2s;
}